apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: "tooling"
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: Project for tooling
  sourceRepos:
    - 'https://github.com/enrico-laboratory/homelab'
    - "https://prometheus-community.github.io/helm-charts"
  destinations:
    - namespace: "tooling"
      server: https://kubernetes.default.svc
