- name: create vms
  hosts: pvenodes
  become: no
  gather_facts: yes

  tasks:

    - name: deploy vms
      proxmox_kvm:
        api_user: "{{ api_user }}"
        api_token_secret: "{{ lookup('file', 'api_token') }}"
        api_token_id: "{{ api_token_id_k3s }}"
        api_host: "{{ ansible_host }}"
        node: "{{ inventory_hostname }}"
        name: "k3s-{{ item }}"
        clone: "{{ template_name }}"
        newid: "11{{ item }}"
        full: yes
        storage: "{{ storage_name }}"
        cores: 2
        memory: 2048
        format: qcow2
      loop: [ 1,2,3,4 ]
      register: present_state

    - name: Wait for deployment
      ansible.builtin.wait_for:
        timeout: 5
      delegate_to: localhost
      when: present_state.changed

    - name: update cloud-init values
      proxmox_kvm:
        api_user: "{{ api_user }}"
        api_token_secret: "{{ lookup('file', 'api_token') }}"
        api_token_id: "{{ api_token_id_k3s }}"
        api_host: "{{ ansible_host }}"
        node: "{{ inventory_hostname }}"
        name: "k3s-{{ item }}"
        update: yes
        #        searchdomains: 'mydomain.internal'
        nameservers:
          - '8.8.8.8'
        ipconfig:
          ipconfig0: "ip=192.168.2.11{{ item }}/24"
      loop: [ 1,2,3,4 ]
