#apiVersion: argoproj.io/v1alpha1
#kind: Application
#metadata:
#  name: "music-projects-prod"
#  namespace: argocd
#spec:
#  project: "music-projects"
#  source:
#    repoURL: "https://github.com/enrico-laboratory/music-projects"
#    targetRevision: HEAD
#    path: "k8s/overlay/prod/"
#  destination:
#    server: https://kubernetes.default.svc
#    namespace: "music-projects-prod"
#  syncPolicy:
#    automated:
#      selfHeal: true