#apiVersion: argoproj.io/v1alpha1
#kind: Application
#metadata:
#  name: intel-gpu
#  namespace: argocd
#spec:
#  project: tooling
#  destination:
#    server: "https://kubernetes.default.svc"
#    namespace: tooling
#  source:
#    chart: intel-device-plugins-gpu
#    repoURL: https://intel.github.io/helm-charts/
#    targetRevision: 0.30.0
#    helm:
#      releaseName: intel-device-plugins-gpu
#      values: |
#        name: igpu
#        sharedDevNum: 2
#        nodeFeatureRule: false
#        resourceManager: true
#        nodeSelector:
#          intel.feature.node.kubernetes.io/gpu: 'true'
