apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: node-feature-discovery
  namespace: argocd
spec:
  project: tooling
  source:
    chart: nfd/node-feature-discovery
    repoURL: https://kubernetes-sigs.github.io/node-feature-discovery/charts
#    targetRevision: 1.16.1
    helm:
      releaseName: node-feature-discovery
  destination:
    server: "https://kubernetes.default.svc"
    namespace: tooling
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
#      - Replace=true
#      - ServerSideApply=true