apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nfd
  namespace: argocd
spec:
  project: tooling
  source:
    chart: node-feature-discovery
    repoURL: https://kubernetes-sigs.github.io/node-feature-discovery/charts
    targetRevision: 0.15.1
    helm:
      releaseName: node-feature-discovery
      valuesObject:
        worker:
          tolerations:
            - effect: NoSchedule
              key: arm
              value: "true"
  destination:
    server: "https://kubernetes.default.svc"
    namespace: tooling