apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "prometheus"
  namespace: argocd
spec:
  project: "tooling"
  destination:
    server: https://kubernetes.default.svc
    namespace: "tooling"
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - Replace=true
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 62.3.0
    helm:
      values: |
        crds:
          enabled: false
        grafana:
          ingress:
            enabled: true
            hosts:
              - grafana.enricoruggieri.com
#        prometheus:
#          prometheusSpec:
#            additionalScrapeConfigs:
#              - job_name: trueNas
#                static_configs:
#                  - targets: ['192.168.100.61:9100']


