apiVersion: v1
kind: Service
metadata:
  name: radarr-service
  namespace: mediaserver
  annotations:
    metallb.universe.tf/loadBalancerIPs: 192.168.100.235
spec:
  type: LoadBalancer
  selector:
    app: radarr
  ports:
    - port: 7878
