- name: router
  hosts: node01 
  become: no
  tasks:

    - name: deploy vm
      include_role:
        name: vms
      vars:
        name: "router"
        ip_address: "192.168.2.103"
        new_id: "130"
