apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pihole
  labels:
    app: pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      containers:
        - name: pihole
          image: pihole/pihole:latest
          env:
            - name: MODE
              value: "standalone"
#            - name: PUID
#              value: "1000"
            - name: TZ
              value: "Europe/Amsterdam"
            - name: WEBPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pihole-secrets
                  key: pass
          volumeMounts:
            - mountPath: /etc/dnsmasq.d
              name: dnsmasq-vol
            - mountPath: /etc/dnsmasq.d/05-pihole-custom-cname.conf
              name: dns-records
              subPath: 05-pihole-custom-cname.conf
            - mountPath: /etc/pihole
              name: config-vol
            - mountPath: /etc/pihole/custom.list
              name: dns-records
              subPath: custom.list
      tolerations:
        - key: "arm"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
      volumeClaimTemplates:
        - metadata:
            name: config-vol
            spec:
              accessModes: [ "ReadWriteOnce" ]
              storageClassName: "pihole-config"
              resources:
                requests:
                  storage: 150Mi
        - metadata:
            name: dnsmasq-vol
            spec:
              accessModes: [ "ReadWriteOnce" ]
              storageClassName: "pihole-dnsmasq"
              resources:
                requests:
                  storage: 1Mi
      volumes:
        - name: dns-records
          configMap:
            items:
              - key: custom.list
                path: custom.list
              - key: 05-pihole-custom-cname.conf
                path: 05-pihole-custom-cname.conf
            name: pihole-dns-configs
#        - name: config
#          nfs:
#            server: 192.168.100.61
#            path: /mnt/fast-pool1/docker-configs/pihole/config
#        - name: dnsmasq
#          nfs:
#            server: 192.168.100.61
#            path: /mnt/fast-pool1/docker-configs/pihole/dnsmasq.d
